{% extends 'base.html.twig' %}

{% block title %} Ça ne fonctionne pas ! {% endblock %}
{% block body %}{% endblock %}

{% block li %}
    {{ parent() }}
    <li><a href="#work">PageTropCool</a></li>
{% endblock %}